@model AmlaMarketPlace.Models.ViewModels.Product.AddProductViewModel

@{
    ViewData["Title"] = "AddProduct";
}

<div class="add-product-mainDiv container">
    <div class="add-product-div-heading text-center">
        <h3>Add Product</h3>
    </div>

    <hr />
    <form asp-action="AddProduct" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label required"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Price" class="control-label required"></label>
                    <input asp-for="Price" class="form-control" type="number" step="0.01" min="1" max="9999999" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Inventory" class="control-label required"></label>
                    <input asp-for="Inventory" class="form-control" type="number" min="0" max="99999" />
                    <span asp-validation-for="Inventory" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Image" class="required">Product Default Image</label>
                    <input asp-for="Image" type="file" id="Image" class="form-control" accept="image/*" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="OptionalImages">Additional Images (Optional, max 3)</label>
                    <input asp-for="OptionalImages" type="file" id="OptionalImages" accept="image/*" multiple class="form-control" />
                    <span asp-validation-for="OptionalImages" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="add-and-close-button">
            <input type="submit" value="Add & Close" class="btn btn-brand-color" />
        </div>
    </form>

    @* <div class="">
    <a class="btn btn-brand-color" asp-action="ProductListing" asp-controller="Product">Back</a>
    </div> *@

    @* this button takes to previous page as recorded by browser *@
    <div class="">
        <button class="btn btn-brand-color" onclick="history.back()">Back</button>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


@* <h4>AddProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" step="0.01" min="1" max="9999999" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory" class="control-label"></label>
                <input asp-for="Inventory" class="form-control" type="number" min="0" max="99999" />
                <span asp-validation-for="Inventory" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" id="Image" class="form-control" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div> *@
