@{
    ViewData["Title"] = "About";
}

<div class="about-page">
    <div class="container">
        <div class="div-about-heading">
            <h2 class="about-heading">About Us</h2>
        </div>


        <!-- Section 1: Image on Left, Text on Right -->
        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <img src="~/images/about/our mission.jpg" alt="About Section 1" class="img-fluid rounded shadow" />
            </div>
            <div class="col-md-6">
                <h4>Our Mission</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>

        <!-- Section 2: Text on Left, Image on Right -->
        <div class="row align-items-center mb-5">
            <div class="col-md-6 order-md-2">
                <img src="~/images/about/our vision.jpg" alt="About Section 2" class="img-fluid rounded shadow" />                <img />
            </div>
            <div class="col-md-6 order-md-1">
                <h4>Our Vision</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>

        <!-- Section 3: Image on Left, Text on Right -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="~/images/about/our values.jpg" alt="About Section 3" class="img-fluid rounded shadow" />                <img />
            </div>
            <div class="col-md-6">
                <h4>Our Values</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>

        <div class="pb-5">
            <h4>2024 July Batch Mini Project</h4>
        </div>
    </div>
</div>
