@{
    ViewData["Title"] = "Home Page";
}

<div class="home-index-div">
    <div class="home-index-welcome-div">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a asp-area="" asp-controller="Home" asp-action="About">our mini project.</a></p>
    </div>
</div>
